<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
  PUBLIC '-//Apple//DTD PLIST 1.0//EN'
  'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>Location</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.Location</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSLocationUsageDescription</key>
    <string>for coordinates</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>for coordinates</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>for coordinates</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>for coordinates</string>
  </dict>
</plist>
